/******************************************
*  Author : Mhande Amalou   
*  Created On : Sat Jul 16 2022
*  File : app.sass
*******************************************/
$custome_grey: hsl(0, 0%, 41%);

$custome_white: hsl(0, 0%, 98%);

$custome_black: hsl(0, 0%, 8%);

@font-face {
  font-family: Epilogue-italic;
  src: url("../assets/fonts/Epilogue-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Epilogue-italic, sans-serif;
}

.grey {
  color: $custome_grey;
}

.white {
  color: $custome_white;
}

.black {
  color: $custome_black;
}

.cu-bg-white {
  background-color: $custome_white;
}

.cu-bg-grey {
  background-color: $custome_grey;
}

.cu-bg-black {
  background-color: $custome_black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $custome_black;
  margin-bottom: 7px;
}

header.primary-header {
  background-color: $custome_white;
}

a {
  color: $custome_grey;
  font-size: 15px;
  text-decoration: none;
}

ul {
  margin: 0%;
  padding: 0%;
  list-style-type: none;
}

p {
  font-size: 18px;
}

button {
  background: none;
  font-weight: 600;
}
.sr-only {
  display: none;
}
.flex {
  display: flex;
  // gap: var(--gap,1rem);
}
.grid {
  display: grid;
}

.wrapper {
  background-color: $custome_white;
}
//navbar start
.logo {
  margin: 1.5rem;
}
.primary-header {
  align-items: center;
  gap: 1rem;
}

.mobile-nav-toggle {
  display: none;
}

.list-group .list-item a.nav-link {
  display: block;
}

section.primary-section {
  height: calc(100vh - 79px);
  // grid-template-columns: 50% 50%;
}

/*
    ==================================
    media for tablet and mobile screen
    ==================================
*/

@media (max-width: 48em) {
  .primary-navigation,
  .list-group,
  .login-register {
    flex-direction: column;
  }
  .primary-navigation {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 10rem;
    background-color: #fff;
    padding-inline: 2rem;
    padding-block-start: 5rem;
    gap: 1rem;
    transition: transform 200ms ease-out;
    transform: translateX(100%);
  }
  .primary-navigation[data-expanded="true"] {
    transform: translateX(0%);
  }

  .list-group .list-item a.nav-link {
    padding-block: 0.5rem;
  }
  .login-register {
    gap: 0.5rem;
  }
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background: transparent center/auto url(../assets/images/icon-menu.svg)
      no-repeat;
    top: 1.2rem;
    right: 1.5rem;
    height: 32px;
    width: 32px;
    border: none;
    outline: none;
  }
  .mobile-nav-toggle[aria-expanded="true"] {
    background: transparent center/cover
      url(../assets/images/icon-close-menu.svg) no-repeat;
  }

  ul.dropdown-1,
  ul.dropdown-2 {
    display: none;
  }
  .primary-section {
    grid-template-rows: 45% 55%;
    
  }

  .new-line {
    display: none;
  }
  .img-hero {
    grid-row: 1;
    background: url(../assets/images/image-hero-mobile-400x301.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 100%;
    height: auto;
  }
}

/*
    ===========================
    media for desktop screen
    ==========================
*/

@media (min-width: 48.0625em) {
  .primary-navigation {
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }

  .list-group .list-item a.nav-link {
    padding-block: 2rem;
    padding-inline: clamp(0.7rem, 1.45vw, 1.5rem);
  }
  .mobile-nav-toggle {
    display: none;
  }
  .login-register {
    margin-inline-end: 1rem;
  }
  .login-register button {
    padding-inline: 2rem;
  }

  //mixin dropdown-1 && dropdown-2 shared property
  @mixin dropdown {
    min-width: 120px;
    z-index: 1;
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 25px;
    padding: 15px 0;
    overflow: hidden;
    box-shadow: 0 8px 16px #0003;
  }
  ul.dropdown-1 {
    @include dropdown();
    max-width: 190px;
    top: 100%;
    right: 0%;
  }
  ul.dropdown-2 {
    @include dropdown();
    max-width: 150px;
    top: 100%;
    left: 0%;
  }
  section.primary-section {
    grid-template-columns: 50% 50%;
  }
  article.article-left {
    padding-inline-start: calc(10vw - 1.5rem);
    justify-content: space-around;
  }
  .article-header {
    font-size: 5vw;
    font-weight: bolder;
  }

  .article-paragraph {
    width: 75%;
    padding-block: 2rem;
    line-height: 2rem;
  }
  .img-hero {
    background-image: url(../assets/images/image-hero-desktop-458x610.png);
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
  }

  .article-footer .sponsor {
    margin-inline: 0.5rem;
  }
}

@media (min-width: 48em) and (max-width: 61.875em) {
  .img-hero {
    background-image: url(../assets/images/image-hero-desktop-300x400.png);
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
  }
  .article-header {
    font-size: 3rem;
  }
}
//article styles

.article-left {
  flex-direction: column;
  // justify-content: space-around;
}

.article-paragraph {
  color: $custome_grey;
}
//article button
.article-btn {
  color: #fff;
  background-color: $custome_black;
  border: none;
  border-radius: 15px;
  padding-block: 1rem;
  padding-inline: 2rem;
}

li.list-item a.nav-link span {
  display: inline-block;
  min-height: 6px;
  min-width: 15px;
}
//arrow icon down
li.list-item[aria-expanded="false"] a.nav-link span {
  background: center/auto url("../assets/images/icon-arrow-down.svg") no-repeat;
}
//arrow icon up
li.list-item[aria-expanded="true"] a.nav-link span {
  background: center/auto url("../assets/images/icon-arrow-up.svg") no-repeat;
}

li.list-item.has-dropdown {
  display: inline-block;
  position: relative;
}

//mixin dropdown-anchor
@mixin dropdown-anchor {
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

li.dropdown-item {
  overflow: hidden;
}

ul.dropdown-1 li.dropdown-item a {
  @include dropdown-anchor();
  width: 190px;
  padding: 4px 0 4px 25px;
}

ul.dropdown-2 li.dropdown-item a {
  @include dropdown-anchor();
  width: 135px;
  padding: 4px 0 4px 35px;
}

span.link-name {
  padding-left: 20px;
}

a.nav-link:hover {
  color: $custome_black;
}

li.dropdown-item:hover {
  background-color: $custome_white;
}

li[aria-expanded="true"] ul.dropdown-1,
li[aria-expanded="true"] ul.dropdown-2 {
  display: block;
}

.icon {
  width: 25px;
  height: 25px;
  background-size: auto;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-todo {
  background-image: url("../assets/images/icon-todo.svg");
}

.icon-calender {
  background-image: url("../assets/images/icon-calendar.svg");
}

.icon-reminder {
  background-image: url("../assets/images/icon-reminders.svg");
}

.icon-plan {
  background-image: url("../assets/images/icon-planning.svg");
}

.login-register button {
  color: $custome_grey;
  border: 2px solid $custome_grey;
  border-radius: 15px;
  padding-block: 1rem;
}

button.login {
  border: none;
}

.login-register button:hover {
  color: $custome_black;
  cursor: pointer;
}

button.register:hover {
  border: 2px solid $custome_black;
}

//start main content

.main-content {
  padding: 30px 50px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  height: calc(100vh - 65px);
}

// @media screen and (max-width: 768px) {
//   .main-content {
//     display: grid;
//     grid-template-columns: auto;
//     gap: 50px;
//   }
// }

//sponsors
